html *
{
   font-family: 'Segoe UI' !important;
}

.accordion-button:not(.collapsed){
    background-color: white;
}

iframe { font-family: 'Segoe UI' !important;flex-grow: 1; border: none; margin: 0; padding: 0; }
